/* 
20_TP_CSS_Style_Corect_1.css
Feuille de style du TP 20_TP_CSS_Style_Base.html
Didier Bonneau CDI Afpa Créteil
*/
body {
    font-family: Verdana, Arial, sans-serif;    /* IV-1 */
    background-color: #f3eaea;    /* VI-1 */
}

h1 {
    text-align: center;     /* I-3 */
    color:green;            /* I-3 */
}

h1, h2, h3 {
    font-family: Arial, sans-serif;    /* IV-2 */
}

#premiere h3 {
    color: red;
}				   

#premiere blockquote:first-letter {
    font-weight: bold;
    font-family: fantasy;
    font-size: 200%;
    color: green;
}

#premiere {
    background-image: url(logoafpa.jpg);    /* VI-3 */
    background-repeat: repeat-y;            /* VI-3 */
    background-position: bottom right;      /* VI-3 */
}

blockquote {
    text-indent: 1em;
}

#basdepage {
    font-size: small;
    background-color: #C0C0C0;    /* VI-2 */
    color: blue;
}

table {
    border-collapse: collapse;
    width: 60%;
}

table, th, td {
    border: 1px solid black;
}

th {
    font-variant: small-caps;
    text-decoration: underline;
}

.produit {    /* II-1 */
    background-color: bisque;
}
tr td:nth-child(4n+1){
    text-transform: capitalize;
}

.reference {    /* II-1 */
    background-color: graytext;
}
tr td:nth-child(4n+2){
    background-color:red;
    text-align: center;
    width: 10em;
}
.general {    /* II-1 */
    background-color: aqua;
}
tr td:nth-child(4n+3){
    text-align: right;
    width: 30%;
}
tr td:nth-child(4n+4){
    text-align: center;
}

#pborder {
    border-width: thick;
    border-color: green;
    border-style: ridge;
    padding: 1ex;
}

/*p.notedroite {*/
#basdepage > p:nth-child(2) {
    float: right;
    text-align: left;
}

ul.points {
    list-style-type: circle;
}

ol ol {
    list-style-type: lower-alpha;
}

