@charset "utf-8";
html, body {
	margin: 0;
	padding: 0;
}

#main {
	position:absolute;
	width: 1024px;
	height: 694px;
}

#entete {
	position:absolute;
	left: 5px;
	top: 5px;
	height: 78px;
	width: 1012px;
	border-style:solid;
	border-width:thin;
}

#menu {
	position: absolute;
	height: 604px;
	width: 198px;
	left: 5px;
	top: 90px;
	border-style:solid;
	border-width:thin;
}

#contenu {
	position: absolute;
	width: 807px;
	left: 210px;
	top: 90px;
	height: 604px;
	border-style:solid;
	border-width:thin;
}

